#landing-page {
    margin: 0;
    padding: 0;
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/bophomet-zhang-a87lt91He_M-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.landing-page {
    position: relative;
    margin: 0px auto 150px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 66.6%;
    max-width: 850px;
}


.landing-page-content {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 18px;
    font-weight: 400;
}

.landing-page-header {
    margin: 0;
    font-weight: 700;
    font-size: 46px;
}


.landing-page-content-text {
    margin: 0;
}

.landing-page-content-link {
    color: white;
}

